* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  background-image: url("../Assets/wood.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#bird {
  position: absolute;
  height: 150px;
  top: 40vh;
  /* border: 5px solid black; */
}
