body {
  position: relative;
  background-image: url("wood.jpg");
  background-color: rgb(233, 209, 252);
  background-size: cover;
  background-position: center;
}


.bird {
  position: absolute;
  height: 100px;
  top: 50vh;
  left: 0px;
}

